<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Shopping_Cart_Demo.Shopping_Cart_Demo.TestComponents.Listners"/>
	</listeners>
  <test thread-count="5" name="CartValidation">
    <classes>
      <class name="Shopping_Cart_Demo.Shopping_Cart_Demo.test.ShoppingCart"/>
    </classes>
  </test> 
  <test thread-count="5" name="LoginFail">
    <classes>
      <class name="Shopping_Cart_Demo.Shopping_Cart_Demo.test.LoginFail"/>
    </classes>
  </test>
</suite> <!-- Suite -->
